[project]
	description = A protocol based implementation of arrows
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Noon Silk (silky)
[access "refs/for/refs/*"]
	read = group user/Noon Silk (silky)
	push = group user/Noon Silk (silky)
	label-Code-Review = -2..+2 group user/Noon Silk (silky)
	label-Verified = -1..+1 group user/Noon Silk (silky)
	rebase = group user/Noon Silk (silky)
	removeReviewer = group user/Noon Silk (silky)
	submit = group user/Noon Silk (silky)
[access "refs/heads/*"]
	read = group user/Noon Silk (silky)
	create = group user/Noon Silk (silky)
	push = +force group user/Noon Silk (silky)
	pushMerge = group user/Noon Silk (silky)
[access "refs/tags/*"]
	push = +force group user/Noon Silk (silky)
	pushTag = group user/Noon Silk (silky)
	pushSignedTag = group user/Noon Silk (silky)
